__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.venv/
.env/
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
dist/
build/
site/
*.egg-info/
.ipynb_checkpoints/

quota.txt
squeue.json
dashboard.html
leadm.txt
sinfo.json
arcconf.neon
arcconf.argon
kernel.all.cpu.user.bio2q003
kernel.all.cpu.user.bio2q001
nvidia.gpuactive.bio2q003
nvidia.gpuactive.bio2q001